# ignore macOS files that show up sometimes
.DS_Store

# Andrew uses emacs, which makes these backup files
# Harmless, but they add clutter to the repo
*~

# jupyter checkpoints
**/.ipynb_checkpoints

# don't track the data directory
# data.txt was already tracked with a note on where to find data
data/

staged/
